#contents-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
 
    > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        padding: 1.25rem;
        border-radius: 16px;
    }

    &.alarm > div:first-child {
        box-shadow: var(--border-finished) 0px 10px 36px 0px, var(--border-finished) 0px 0px 0px 1px;
    }
}

#info-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;    

    position: absolute;
    bottom: 1rem;
    right: 1rem;
}